<!-- Footer -->
<footer class="bg-dark font-weight-light text-white-55 pt-11 pb-5">
    <div class="container">
        <div class="row justify-content-md-between">
            <div class="order-4 order-lg-1 col-md-12 col-lg-4 mb-4 mr-lg-auto">
                <a class="navbar-brand mb-3 text-white" href="主页.html"><img class="mr-3" src="../static/img/logo1.png"
                        alt="知识图谱生成器" style="height: 32px;">知识图谱生成器</a>
                <p class="small font-weight-light mb-3">本站旨在提供方便快捷的知识图谱生成工具！</p>
            </div>

            <div class="col-sm-4 col-lg-2 mb-4 order-lg-2">
                <h4 class="h6 text-white mb-3">关于</h4>

                <!-- Links -->
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="link-white-55" href="https://github.com/GaGaGallium"
                            target="_blank">我的Github</a></li>
                </ul>
                <!-- End Links -->
            </div>

            <div class="col-sm-4 col-lg-2 mb-4 order-lg-3">
                <h4 class="h6 text-white mb-3">特别致谢</h4>

                <!-- Links -->
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="link-white-55"
                            href="https://irm.ruc.edu.cn/szdw/xzjf/53d5238aa52544e5895af3e815a9c2d2.htm"
                            target="_blank">刘力超老师</a>
                    </li>
                    <li class="mb-2"><a class="link-white-55"
                            href="https://developer.nvidia.com/cuda-11-8-0-download-archive?target_os=Windows&target_arch=x86_64&target_version=10&target_type=exe_network"
                            target="_blank">CUDA</a>
                    </li>
                    <li class="mb-2"><a class="link-white-55"
                            href="https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/conda/windows-conda.html"
                            target="_blank">飞桨</a>·<a class="link-white-55"
                            href="https://github.com/PaddlePaddle/PaddleNLP" target="_blank">PaddleNLP</a></li>
                    <li class="mb-2"><a class="link-white-55" href="https://www.bootcss.com/"
                            target="_blank">Bootstrap中文网</a>
                    </li>
                    <li class="mb-2"><a class="link-white-55" href="https://gallery.pyecharts.org/#/README"
                            target="_blank">pyecharts</a>
                    </li>
                    <li class="mb-2">我自己</li>

                </ul>
                <!-- End Links -->
            </div>

            <div class="col-sm-4 col-lg-2 mb-4 order-lg-4">
                <h4 class="h6 text-white mb-3">联系方式</h4>

                <!-- Links -->
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="link-white-55" href="mailto:2020200468@ruc.edu.cn" target="_blank"
                            onclick="_hmt.push(['_trackEvent', 'footer', 'click', 'email'])">邮箱</a></li>
                </ul>
                <!-- End Links -->
            </div>
        </div>

        <hr class="my-5 opacity-10">

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <p class="small font-weight-light mb-0"><a class="link-white-55" href="">知识图谱生成器</a>遵循CC BY-NC-SA 4.0协议。
                </p>
            </div>

            <div class="col text-md-center">
                <p class="small font-weight-light mb-0">基于Python制作。</p>
            </div>

            <div class="col text-md-right">
                <p class="small font-weight-light mb-0">Big things have small beginnings. </p>

            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Go to Top -->
<a class="js-go-to duik-go-to" href="javascript:;">
    <span class="fa fa-arrow-up duik-go-to__inner"></span>
</a>
<!-- End Go to Top -->