<!-- Header -->
<header class="duik-header">
  <!-- Navbar -->
  <nav
      class="bd-navbar navbar navbar-expand-lg navbar-dark bg-primary position-absolute left-0 right-0 flex-nowrap z-index-3">
      <div class="container">
          <a class="navbar-brand" href="/"><img class="mr-3"
                  src="../static/img/logo1.png"
                  alt="知识图谱生成器" style="height: 32px;">知识图谱生成器</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo"
              aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item ml-lg-6 mb-2 mb-lg-0">
                      <a class="nav-link px-0 active position-relative reddot" href="./注册">注册</a>
                  </li>
                  <li class="nav-item ml-lg-6 mb-2 mb-lg-0">
                      <a class="nav-link px-0 active position-relative reddot" href="./登录">登录</a>
                  </li>
                  <li class="nav-item ml-lg-6 mb-2 mb-lg-0">
                      <a class="nav-link px-0 active position-relative reddot" href="./抽取">抽取实体</a>
                  </li>
                  <li class="nav-item ml-lg-6 mb-2 mb-lg-0">
                      <a class="nav-link px-0 active position-relative reddot" href="./生成">生成图谱</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- End Navbar -->
</header>
<!-- End Header -->