<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>关于本页</title>

    <!-- Favicon -->
    <link rel="shortcut icon"
        href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@1.0.3/dist/assets/favicons/favicon.ico">

    <!--  Meta tags -->
    <meta name="keywords" content="">
    <meta name="description"
        content="Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。目前，Bootstrap最新版本为3.0 。Bootstrap中文网致力于为广大国内开发者提供详尽的中文文档、代码实例等，助力开发者掌握并使用这一框架。">

    <!-- Open Graph -->
    <meta property="og:title" content="关于 Bootstrap 中文网">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.bootcss.com/about/">
    <meta property="og:image"
        content="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@1.0.3/dist/assets/brand/bootstrap-social.png">
    <meta property="og:description"
        content="Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。目前，Bootstrap最新版本为3.0 。Bootstrap中文网致力于为广大国内开发者提供详尽的中文文档、代码实例等，助力开发者掌握并使用这一框架。">
    <meta property="og:site_name" content="Bootstrap中文网">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/all.min.css">

    <!-- CSS Template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@1.0.3/dist/assets/css/theme.css">

</head>

<body>

    {% include 'header.html' %}

    <!-- Promo Section -->
    <section class="duik-promo bg-primary">
        <div class="container duik-promo-container">
            <div class="justify-content-center d-flex position-relative mh-25rem pt-11 py-6">
                <div class="flex-grow-1 align-self-center text-center col-lg-8 mb-11">
                    <h1 id="title" class="text-white font-weight-bold mb-0 mt-3">用户登录</h1>
                    <form method="post" id="survey-form" action=''>
                        <div class="row">
                            <label class="text-white font-weight-bold mb-0 mt-3" for="name" id="name-label">昵称</label>
                            <input class="form-control" id="name" name="name" type="text" placeholder="输入昵称" required />
                        </div>
                        <div class="row">
                            <label class="text-white font-weight-bold mb-0 mt-3" for="password" id="password-label">密码</label>
                            <input class="form-control" id="password" class="password" name="password" type="password"
                                placeholder="输入密码" required />
                        </div>
                        <button class="btn btn-block btn-success mt-6" id="submit" type="submit" onclick="{{warning}}">提交</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- SVG BG -->
        <svg class="position-absolute bottom-0 left-0" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 323"
            enable-background="new 0 0 1920 323" xml:space="preserve">
            <polygon fill="#ffffff" style="fill-opacity: .05;" points="-0.5,322.5 -0.5,121.5 658.3,212.3 "></polygon>
            <polygon fill="#ffffff" style="fill-opacity: .1;" points="-2,323 1920,323 1920,-1 "></polygon>
        </svg>
        <!-- End SVG BG -->
    </section>
    <!-- End Promo Section -->

    {% include 'footer.html' %}

    <!-- JS Global Compulsory -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-migrate@3.4.0/dist/jquery-migrate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-unveil@1.3.2/jquery.unveil.js"></script>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/@bootcss/www.bootcss.com@1.0.3/dist/assets/js/main.js"></script>
</body>

</html>